/* Estilos generales */
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    $fuentes:sans-serif;
}
/* Colores utilizados*/
@import"colores"

#container{
    width: 90%;
    height: auto;
    margin: 0px;
    border: lpx solid$grey;
}